services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./initdb/:/docker-entrypoint-initdb.d/
    networks:
      - appnet
    ports:
      - "0.0.0.0:5432:5432"

  app:
    build: .
    image: eladavron/bussard:latest
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ~/certs/NUC.local.crt:/etc/nginx/ssl/sslcert.crt:ro
      - ~/certs/NUC.local.key:/etc/nginx/ssl/privkey.key:ro
    networks:
      - appnet

volumes:
  db_data:


networks:
  appnet:
