services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - .env  
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - appnet
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  db_data:

networks:
  appnet:
