/* tailwind */

@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.main-page {
  @apply min-h-screen bg-gray-50 dark:bg-gray-900 p-8;
}

/* Text */
.text-primary {
  @apply text-gray-900 dark:text-gray-100;
}

.text-secondary {
  @apply text-gray-500 dark:text-gray-400;
}

  .main-header {
  @apply mb-8 flex justify-between items-center;
}

.main-header h1 {
  @apply text-3xl font-bold text-gray-900 dark:text-white;
}

.error-header h1 {
  @apply text-3xl font-bold text-red-500;
}

h2 {
  @apply text-gray-900 dark:text-white;
}

/* Buttons */
.button-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors;
}
.button-secondary {
  @apply bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition-colors;
}

.button-danger {
  @apply bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition-colors;
}

.button-hover {
  @apply size-7 hover:size-10 transition-all cursor-pointer;
}

.button-hover .hover-icon {
  @apply text-white drop-shadow-black drop-shadow-xs w-full h-full;
}

.button-hollow {
  @apply span-border hover:bg-gray-50 dark:hover:bg-gray-700;
}

.button-link-secondary{
  @apply text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300 transition-colors cursor-pointer;
}

@utility span-border {
  @apply rounded-md bg-white dark:bg-gray-800 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-gray-100 shadow-xs inset-ring-1 inset-ring-gray-300 dark:inset-ring-gray-600;
}

/* Tags */
.tag {
  @apply text-sm font-medium px-3 py-1 rounded-full;
}

.tag-blue {
  @apply bg-blue-100 text-blue-800;
}

.tag-gray {
  @apply text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700;
}

/* Main Grid */
.main-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;
}

.movie-card {
  @apply bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm hover:shadow-md transition-shadow overflow-hidden flex flex-col;
}

.movie-card:hover:not(.movie-card-loading) {
  @apply transform scale-105 transition-transform;
}

.movie-title {
  @apply text-xl font-semibold text-gray-900 dark:text-gray-100 leading-tight
}

/* Posters */

.movie-poster {
  @apply rounded shadow-md w-50;
}

.movie-poster-loading {
  @apply rounded shadow-md bg-gray-200 animate-pulse;
}



/* Menus */
.menu-button {
  @apply inline-flex w-full justify-center gap-x-1.5;
}

.menu-dropdown {
  @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white dark:bg-gray-800 shadow-lg outline-1 outline-black/5 dark:outline-white/5 transition data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in;
}

.menu-item-link {
  @apply block px-4 py-2 text-sm text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white;

}

/* File Input */
.file-input-upload {
  @apply block w-full text-sm text-gray-500 dark:text-gray-400
    file:mr-4 file:py-2 file:px-4
    file:rounded-full file:border-0
    file:text-sm file:font-semibold
    file:bg-blue-50 dark:file:bg-blue-900 file:text-blue-700 dark:file:text-blue-300
    hover:file:bg-blue-100 dark:hover:file:bg-blue-800;
}

/* Input Fields */
.input-default {
  @apply mt-1 block w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none sm:text-sm border-gray-300 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-100 focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-400 dark:focus:border-blue-400;
}

.input-error {
  @apply mt-1 block w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none sm:text-sm border-red-500 dark:border-red-500 focus:ring-red-500 dark:focus:ring-red-500 focus:border-red-500 dark:focus:border-red-500;
}

.input-valid {
  @apply mt-1 block w-full px-3 py-2 border rounded-md shadow-sm placeholder-gray-400 dark:placeholder-gray-500 focus:outline-none sm:text-sm border-green-500 dark:border-green-500 focus:ring-green-500 focus:border-green-500 dark:focus:ring-green-400 dark:focus:border-green-400;
}

/* Input Messages */
.input-message-info {
  @apply text-blue-500 dark:text-blue-400 text-xs mt-1;
}

.input-message-error {
  @apply text-red-500 dark:text-red-400 text-xs mt-1;
}

/* Labels */
.label-primary {
  @apply block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2;
}

.label-secondary {
  @apply  text-gray-500 dark:text-gray-400 font-medium;
}

.label-muted {
  @apply text-sm text-gray-600 dark:text-gray-400;
}

/* Borders */
.border-default {
  @apply border border-gray-300 dark:border-gray-600 rounded-md;
}
.border-highlight {
  @apply border-2 border-blue-500 dark:border-blue-400 rounded-md;
}

/* Disabled State */
.disabled {
  @apply opacity-50 cursor-not-allowed;
}