@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text */
.text-primary {
  @apply text-gray-900;
}

.text-secondary {
  @apply text-gray-500;
}

header {
  @apply mb-8 flex justify-between items-center;
}

.main-header h1 {
  @apply text-3xl font-bold text-gray-900;
}

.error-header h1 {
  @apply text-3xl font-bold text-red-500;
}

/* Buttons */
.button-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors;
}
.button-secondary {
  @apply bg-gray-200 text-gray-800 px-4 py-2 rounded hover:bg-gray-300 transition-colors;
}

.button-hover {
  @apply size-7 hover:size-10 transition-all cursor-pointer;
}

.button-hollow {
  @apply rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs inset-ring-1 inset-ring-gray-300 hover:bg-gray-50
}

/* Tags */
.tag {
  @apply text-sm font-medium px-3 py-1 rounded-full;
}

.tag-blue {
  @apply bg-blue-100 text-blue-800;
}

.tag-gray {
  @apply text-gray-500 bg-gray-100;
}

/* Main Grid */
.main-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6;
}

.movie-card {
  @apply bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow overflow-hidden flex flex-col;
}

/* Posters */

.movie-poster {
  @apply rounded shadow-md w-50;
}

.movie-poster-loading {
  @apply rounded shadow-md bg-gray-200 animate-pulse;
}



/* Menus */
.menu-button {
  @apply inline-flex w-full justify-center gap-x-1.5;
}

.menu-dropdown {
  @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg outline-1 outline-black/5 transition data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in;
}

.menu-item-link {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900;

}